fastapi>=0.104.1
uvicorn>=0.24.0
pydantic>=2.4.2
SQLAlchemy>=2.0.23
python-multipart>=0.0.6
pytesseract>=0.3.10
opencv-python-headless>=4.8.1
pillow>=10.0.0
PyMuPDF>=1.23.0
PyPDF2>=3.0.1
langchain>=0.0.340
langchain-community
langchain-google-genai
langchain-text-splitters
faiss-cpu
alembic>=1.12.0
python-dotenv>=1.0.0
httpx>=0.25.0
psycopg2-binary==2.9.9
pypdf
